#about {
	.hero-section {
		// banner contact
		width: auto;
		background: url(".././assets/aboutSection/hero.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: auto;
	}
}
