#product {
	width: auto;
	background: url("../assets/ourProduct/section-product.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
