/* Testimonials */
#testimonials {
	width: auto;
}
.testimonials-container {
	width: 90vw;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 48px;
}
#testimonials .left-section,
#testimonials .right-section {
	width: 50%;
}
#testimonials .left-section .title {
	color: #fdbc3d;
	font-size: 24px;
	font-weight: bold;
	font-family: "Inter", sans-serif;
}
#testimonials .left-section .sub-title {
	color: #331b3b;
	font-size: 34px;
	font-weight: bold;
	font-family: "Inter", sans-serif;
	margin-top: 14px;
}
#testimonials .left-section .desc {
	color: #514f6e;
	font-size: 18px;
	font-weight: 400;
	font-family: "Inter", sans-serif;
	margin-top: 14px;
	margin-bottom: 104px;
	line-height: 30px;
}
#testimonials .card {
	/* width: 50%; */
	border-radius: 20px;
	border: 1px solid #eff0f6;
	box-shadow: 0px 5px 14px 0px rgba(102, 114, 153, 0.2);
	padding: 48px;
}

#testimonials .profile-picture {
	border-radius: 50%;
}
#testimonials .card-desc {
	position: relative;
}
#testimonials .card-desc p {
	color: #514f6e;
	font-size: 18px;
	font-weight: 400;
	font-family: "Inter", sans-serif;
	margin-bottom: 24px;
	line-height: 30px;
}
#testimonials .card-main {
	display: flex;
	align-items: center;
	gap: 8px;
}
#testimonials .card-name {
	font-size: 18px;
	font-weight: bold;
	font-family: "Outfit", sans-serif;
	margin-bottom: 8px;
	color: #170f49;
}
#testimonials .card-job {
	font-size: 18px;
	font-weight: 400;
	font-family: "Outfit", sans-serif;
	margin-bottom: 8px;
	color: #6f6c90;
}
#testimonials .card-desc .profile-picture {
	position: absolute;
	top: -30px;
	right: -25px;
}
/* testimonials right section */
#testimonials .right-section {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 48px;
}
#testimonials .icon-quotation {
	position: absolute;
	top: -30px;
	right: -25px;
}
@media screen and (max-width: 1200px) {
	#testimonials .card {
		padding: 48px 24px;
	}
}
@media screen and (max-width: 992px) {
	.testimonials-container {
		flex-direction: column;
		width: auto;
	}
	#testimonials .left-section,
	#testimonials .right-section {
		width: 100%;
	}
	#testimonials .left-section .desc {
		margin-bottom: 48px;
	}
}
@media screen and (max-width: 576px) {
	#testimonials .left-section .title {
		font-size: 24px;
	}
	#testimonials .left-section .sub-title {
		font-size: 30px;
	}
	#testimonials .left-section .desc {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 24px;
	}
}
