@import "tailwindcss";
@theme {
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-xxl: 1400px;
}
body {
	background: white !important;
}

.ff-outfit {
	font-family: "Outfit", sans-serif !important;
}
.ff-poppins {
	font-family: "Poppins", sans-serif !important;
}
.ff-inter {
	font-family: "Inter", sans-serif !important;
}
.ff-dm-sans {
	font-family: "DM Sans", sans-serif !important;
}
#app {
	height: 100%;
}
html,
body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: calc((100% - 30px) / 2) !important;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}
.text-dark {
	color: #132e4c !important;
}
.text-regular {
	color: #2565aa !important;
}
.text-secondary {
	color: #c29d2b !important;
}
.text-dark-fade {
	color: #132e4c80 !important;
}
#banner {
	width: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.hero-section {
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
}
