@import "tailwindcss";

body {
	background: white !important;
}

.ff-outfit {
	font-family: "Outfit", sans-serif !important;
}
.ff-poppins {
	font-family: "Poppins", sans-serif !important;
}
.ff-sm-sans {
	font-family: "DM Sans", sans-serif !important;
}
